<div class="container">
  <h1><%= t('.title') %></h1>
  <%= form_with model: @user, url: password_reset_path(@token), local: true, data: { turbo: false } do |f| %>
    <div>
      <%= f.label :email %>
      <%= @user.email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
